btop/
io.github.clash-verge-rev.clash-verge-rev/
gtk-3.0/
google-chrome/
QQ/
tofi/
vlc/
ibus/
fcitx/
fcitx5/
dconf/
kde.org/
session/

nvim/.neoconf.json
nvim/init.lua
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/LICENSE
nvim/README.md
nvim/stylua.toml

mimeapps.list
dolphinrc
QtProject.conf
